body {
  background-color: lightgrey;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  text-align: center;
}

#prva_leta header {
  background-image: url("/Media/zoo.jpg");
  height: 960px;
  background-repeat: no-repeat;
  background-position: center top;
}

#poroka header {
  background-image: url("/Media/poroka.jpg");
  height: 960px;
  background-repeat: no-repeat;
  background-position: center top;
}

#sedanjost header {
  background-image: url("/Media/danes.jpg");
  height: 960px;
  background-repeat: no-repeat;
  background-position: center top;
}

p {
  text-align: justify;
}

.navigate p {
  text-align: center;
}

nav a {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 5px;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 25px;
}

.timeline h3 {
  background-color: rgba(0, 0, 0, 0.5);
  border: 7px solid white;
  border-radius: 25px;
  color: white;
  font-size: 100px;
  margin: 25px auto;
  position: relative;
  top: 75px;
  width: 400px;
}
