body {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  font-size: 110px;
  border-style: dotted none;
  padding: 25px 0;
}

h3 {
  font-size: 50px;
}

#prva_leta header {
  background-image: url("/Media/zoo.jpg");
  height: 960px;
  background-repeat: no-repeat;
  background-position: center top;
}

#poroka header {
  background-image: url("/Media/poroka.jpg");
  height: 960px;
  background-repeat: no-repeat;
  background-position: center top;
}

#danes header {
  background-image: url("/Media/danes.jpg");
  height: 960px;
  background-repeat: no-repeat;
  background-position: center top;
}

p {
  font-size: 18px;
  text-align: justify;
}

.navigate p {
  margin: 25px;
  text-align: center;
}

.navigate a {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.navigate a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 25px;
}

.timeline h3 {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-size: 100px;
  font-weight: normal;
  margin: 25px auto;
  position: relative;
  top: 75px;
  width: 400px;
}
